body {
    background-color: #f5f5f5f5;
    }
    
    div {
    margin: 0 auto;
    text-align: center;
    border-top: 2px solid #d5d5d5;
    padding: 50px;
    }
    
    h1 {
    font-size: 25px;
    font-family: tahoma;
    text-align: center;
    }
    
    img {
    width: 190px;
    }
    
    h2 {
    font-size: 24px;
    font-family: tahoma;
    text-align: center;
    }
    
    h3 {
    font-size: 20px;
    font-family: tahoma;

    }
    
    p {
    font-size: 16px;
    font-family: tahoma;
    text-align: center;
    line-height: 28px;
    width: 930px;
    margin: 0 auto;
    margin-bottom: 20px;
    }
    
    a {
    font-size: 14px;
    color: #ffffff;
    background-color: rgb(119, 179, 119);
    font-weight: bold;
    text-decoration: none;
    border-radius: 18px;
    padding: 10px 30px;
    
    }
    
    span {
    font-weight: bold;
    }